/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --background-image: url("../images/cover-image-dark.png");
  --accent-color: #ff0070;
  --accent-color-opacity: #ff007066;
  --text-color: #f1b2ce;
  --decoration-color: var(--accent-color);
  --background-color: #000028;
  --main-title-color: #db00ff;
  --section-title-color: var(--accent-color);
  --card-title-color: var(--background-color);
  --font-family: 'IBM Plex mono', monospace;
  --font-size-regular: 18px;
  --line-height-small: 83%;
  --line-height-regular: 100%;
  --line-height-large: 130%;
  --font-weight-bold: 700;
  --font-weight-regular: 400;
  --font-style-normal: normal;
  --decoration-visibility: visible;
}